
::-webkit-scrollbar {
  width: 0px;
}

header{
  height: 55px;
  position: fixed;
  border-radius: 0px 0px 5px 5px;
}

.btn-group button,#total-price{
  height: 45px;
}

#total-price{
  font-size: 15px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  width: 95vw;
}


section{
  margin: 1.5vh 1vw 2vh 1vw;
  width: 95%;
  height:fit-content; /*future fit content*/
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: var(--fivth-color) solid ;
  border-bottom: none;
}

.cima img{
  margin:10px;
  max-width: 35vw;
  max-height: 38vh;
}

.masomeno{
  margin: 0.5px;
}

@media (min-width:700px){

  header{
    height: 10vh;
  }

  main{
    margin-top: 11vh;
  }

  .baixo{
    height: 10vh;
  }

  .baixo > div > *{
    font-size: 15px;
  }
}




