
:root{
  --header-height : 75px;
}

body{
  zoom: 1;
}

header{
height: var(--header-height);
background-color: rgba(255, 255, 255, 0.904);
border-bottom: var(--fivth-color) 1px solid;
}

header button{
  height: 50px;
}

.total-price{
  height: fit-content;
}

#bannierer-container{
  width: 50vw;
}

#bannier p{
  min-width: 700px;
}

.btn-container
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.btn-container .total-price,.btn-container .carrinho-container
{
  display: flex;
}

.btn-sm{
  font-size: larger;
}

.cima img{
  margin: 5%;
  height: 25vh;
}

.baixo a{
  max-width: 90%;
  max-height: 95%;
}