body{
  zoom: 1;
}

header{
background-color: rgba(255, 255, 255, 0.904);
border-bottom: var(--fivth-color) 1px solid;
}



.btn-sm{
  font-size: larger;
}

.cima img{
  margin: 5%;
  height: 25vh;
}

.baixo a{
  max-width: 90%;
  max-height: 95%;
}

@media (max-width:700px){
  .baixo a{
    font-size:15px;
  }

  .cima img{  
    min-height: 0%;
    max-width: 80vw;
  }
  
  @media (max-height:537px) {
    #wpp-logo{
      display:none;
    }
  }

}