:root{
  --header-height : 75px;
}

body{
  zoom: 1;
}

header{
height: var(--header-height);
background-color: rgba(255, 255, 255, 0.904);
border-bottom: var(--fivth-color) 1px solid;
}

header button{
  height: 50px;
}

.total-price{
  height: fit-content;
}

#bannierer-container{
  width: 50vw;
}

#bannier p{
  min-width: 700px;
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.aviso{
  display: block;
  padding: 5px;
  font-size: 2.5vh;
}

.btn-container .total-price,.btn-container .carrinho-container
{
  display: flex;
}

.btn-sm{
  font-size: larger;
}

.nameOfProd{
  max-width: 30vw;
  text-align: center;
}

.cima img{
  margin: 5%;
  height: 25vh;
}

.baixo a{
  max-width: 90%;
  max-height: 95%;
}


footer {
  width: 100vw;
  height: 20vh;
  margin: 20px 0px ;
  display: flex;
}

#footer-description {
  background-color: rgb(52, 94, 94);
  flex: 1.5 1;
}

#footer-description > *{
  margin:3vh;
}

#estoque-ancors-container{
  display: flex;
  background-color: aliceblue;
  flex: 1 1;
  align-items: center;
  justify-content: space-around;
}

.estoque-ancor,.estoque-ancor:hover{
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-style: none;
  width: 8vw;
  height: fit-content;
  text-align: center;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.boticario-btn, .boticario-btn:hover{
  background-color: rgb(64, 199, 109);
}

.eudora-btn, .eudora-btn:hover{
  background-color: rgb(130, 27, 226);
}

.OUI-btn, .OUI-btn:hover{
  background-color: rgb(196, 23, 23);
}
