@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  margin: 0px;
}

:root{
  --main-color : rgb(153, 248, 255);
  --secondary-color : rgb(255, 255, 255);
  --third-color : #c3dbf2;
  --fouth-color : #d7e7f6;
  --fivth-color : #79b2de;
  --transparent: rgba(0,0,0,0);
  --main-linear-gradient : linear-gradient( 102.4deg,  rgba(250,250,250,1) 20%,  rgba(24,250,255,1) 100.3% );
}

body,section,.limitator,.cima{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  z-index: -20;
  overflow-x: hidden;
  background: var(--main-linear-gradient);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  animation: gradient 7s ease infinite;
}


@keyframes gradient {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header{
  background-color: var(--secondary-color);
  width: 100vw;
}

#header-container,.baixo
{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

#header-container > img{
  height: 95%;
}


#fig-do-fundo{
  display: none;
  max-height: 100px;
  max-width: 100px;
  z-index: -1;
  position: absolute;
  top: 10vh;
  left: 50vh;
  transform: rotate(37deg);
}

#bannierer-container{
  z-index: -199;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#bannier {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: left;
  justify-content: center;
}

#bannier p{
  max-width: 70%;
}

#citacao{
  font-size: 50px;
  padding-left: 15px;
  border-left: 5px solid rgba(250,250,250,1);
}

#autor {
  padding-left: 5px;
  border-left: 3px solid  rgba(24, 251, 255, 0.308) ;
}

.mine-btn{
  background-color: var(--main-color);
}

.total-price{
  font-size: 15px;
  font-weight:100;
  background-color: var(--fouth-color);
  /* height: 5vh; */
  min-width: 100px;
  width: auto;
  padding: 10px;
  border-radius:5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.btn-group button{
  height: 7vh;
}
 */

#car-img{
  height: 90%;
}

.btn-group ul {
  background-color: rgb(139, 238, 255);
}

.carrinho-container button,.carrinho-container ul{
  background: var(--third-color);
}

.carrinho-container button,.total-price{
  
  border: 1px solid rgba(0, 0, 0, 0.438);
}

#comprar-carrinho{
  font-weight: bolder;
}

#bannierer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

#bannier-container * {
  transition: all 0.5s;
}

#bannier{
  width: 100%;
}


main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2vh;
  background-color: var(--third-color);
  height: fit-content; /*future fit content*/
  width: 95vw;
  border: var(--fivth-color) solid 2px;
  border-radius: 10px;
}

section{
  margin: 5vh 1vh 1vh 1vh;
  min-width: 25%;
  height:fit-content; /*future fit content*/
  box-sizing: border-box;
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: var(--fivth-color) solid ;
  border-bottom: none;
  margin: 1vh;
}


.cima{
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex: 1 1;
  width: 100%;
}

.baixo{
  height: 50px;
  background-color: var(--fouth-color);
  width: 100%;
  border-radius: 0px 0px 8.5px 8.5px;
  border-bottom: var(--fivth-color) solid 3px;
}

.accum-price,.prod-p{
  width: 100px;
  height: 30px;
  border-radius:0px 0px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 255, 255, 0.692);
}

.prod-p{
  background-color: var(--transparent);
}


.masomeno {
  max-height: 80%;
  min-width: 30%;
  flex: 1 1;
  max-width: 60%;
  display: flex;
  border-radius: 8.5px;
}

.baixo > div > *{
  font-size: 20px;
}

.unitis,.baixo button{
  border: 2px 0px 2px 0px solid var(--fivth-color);
  display: flex;
  flex: 1 0 20px;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
}

.unitis{
  background-color: var(--secondary-color);
  border-top: 2px solid var(--fivth-color);
  border-bottom: 2px solid var(--fivth-color);
}

.add-card{
  border-radius: 0px 6px 6px 0px;
}

.rm-card{
  border-radius: 6px 0px 0px 6px;
}

.baixo button{
  background-color: var(--third-color);
  border: 2px solid var(--fivth-color);
}

.baixo a,#comprar-carrinho{
  background-color: rgba(235, 181, 65, 0.986);
  border: solid 2px rgb(102, 81, 14);
}

#comprar-carrinho{
  width: 100%;
}

.baixo #wpp-logo{
  margin-bottom: 3px;
}

#insta-logo{
  display: inline;
  max-height: 15px;
  margin-left: 4px;
}

#wpp-logo{
  display: inline;
  max-width: 15px;
  max-height: 15px;
  margin-left: 4px;
  align-self: flex-start;
}

.baixo a:hover{
  background-color: rgba(238, 190, 85, 0.986);
  box-shadow: 0px 1px 2px hsla(41, 67%, 39%, 0.637);
}


.banido,.total-price , .carrinho-container,.main-top{
  display: none;
}



.valores{
  display: flex;
  margin: none;
  justify-content: space-around;
  width: 100%;
  background-color: var(--fouth-color);
  box-sizing: border-box;
  border-bottom:2px solid var(--third-color);
  border-top: 2px solid  rgba(240, 255, 255, 0.692);
}
.valores * {
  margin : none;
  margin-bottom: 1px;
}