@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  margin: 0%;
}

:root{
  --main-color : rgb(153, 248, 255);
  --secondary-color : rgb(255, 255, 255);
  --third-color : #c3dbf2;
  --fouth-color : #d7e7f6;
  --fivth-color : #79b2de;
  --transparent: rgba(0,0,0,0);
  --main-linear-gradient : linear-gradient( 102.4deg,  rgba(250,250,250,1) 20%,  rgba(24,250,255,1) 100.3% );
}

body,section,.limitator,.cima,.baixo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  background-color:var(--main-color);
  overflow-x: hidden;
}

header{
  background-color: var(--secondary-color);
  height: 15vh;
  width: 100vw;
}

#header-container
{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
}


#header-container > img{
  height: 95%;
}

.mine-btn{
  background-color: var(--main-color);
}

.btn-group ul {
  background-color: rgb(139, 238, 255);
}

.material-symbols-outlined {
  line-height: -5;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}


main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2vh;
  background-color: var(--third-color);
  height: fit-content; /*future fit content*/
  width: 95vw;
  border: var(--fivth-color) solid 2px;
  border-radius: 10px;
}

section{
  box-sizing: border-box;
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: var(--fivth-color) solid ;
  border-bottom: none;
  margin: 1vh;
}


.cima,.baixo{
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.cima{
  flex: 1 1;
  width: 100%;
}

.baixo{
  height: 40px;
  background-color: var(--fouth-color);
  width: 100%;
  border-radius: 0px 0px 8.5px 8.5px;
  border-bottom: var(--fivth-color) solid 3px;
}

.baixo a{
  width: max-content;
  margin:100%;
  padding: none;
  border: none;
  max-height: 85%;
  font-weight: 900;
  background-color: rgba(235, 181, 65, 0.986);
  border: solid 2px rgb(102, 81, 14);
}

.baixo #wpp-logo{
  margin-bottom: 3px;
}

#insta-logo{
  display: inline;
  max-height: 23px;
}

#wpp-logo{
  display: inline;
  max-width: 15px;
  max-height: 15px;
  margin-left: 4px;
  align-self: flex-start;
}

.baixo a:hover{
  background-color: rgba(238, 190, 85, 0.986);
  box-shadow: 0px 1px 2px hsla(41, 67%, 39%, 0.637);
}