@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Overlock&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#body{
    display: flex;
    flex-direction: column;
    font-size: 100%;
    background: #02f5f5;
}


.cabeçalho{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-around;
    padding: 20px;
    padding-bottom: 0px;

}

.cabeçalho-m{
    display: flex;
    gap: 10px;
}

.logos-img{
    position: static;
    height: 30px;
    transition: all 2s;
    border-radius: 10px;
    
}
.cabeçalho-m1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
.miolo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    gap: 50px;
    padding: 0px;
    padding-top: 50px;
}

.primeira-seção{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-around;
    padding: 0px;
    padding-top: 0px;
    gap:300px
}

.parte_escrita{
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.endereço{
    color: inherit;
    font-size: 25px;
}
.credito{
    color: inherit;
    font-size: 15px;
}
.parte_da_direita{
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.cartoes{
    max-width: 15vw;
}

.segunda-seção{
     display: flex;
     flex-direction: column;
     gap: 20px;
     align-items: center;
     justify-content:space-around;
}
.titulo_segunda_seção:hover{
    max-width: 500px;
    transition: all 2s;
}
.titulo_segunda_seção{
    
    border-top: 1px solid rgb(0, 0, 0);
    
    padding-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 27px;
    font-weight: 800;
}
.p_segunda_seção{
    font-size: 20px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.marcas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    gap: 80px;

}
.foto_de_marca{
    max-height: 100px;
    max-width: 100px;
    transition: 0.3s all;
    margin-bottom: 10px;

}
.foto_de_marca:hover{
    margin: 0px;
    max-height: 105px;
    max-width: 105px;
    /*background: rgb(167,44,44);
    background: linear-gradient(45deg, rgba(224, 205, 205, 0.137) 28%, rgba(0, 255, 251, 0.068) 100%);
    */border-bottom: #d833af;
}   

.rodapé{
    position: relative;
    border-top: 1px solid rgb(161, 209, 228);
    background:rgba(119, 146, 182, 0.445);
}

@media (orientation:portrait) 
{

#body
{
    background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%,rgba(0,206,255,0.2) 50% ,rgba(0,255,252,0.3715861344537815) 100%);
}
.miolo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foto_luar{
    max-width: 79vw;
    max-height: 79vh;
}

.primeira-seção{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-inline-end: 10%;
    margin-inline-start: 10%;
}
.parte_da_direita{
    max-width:100%;
    text-align: center;
    font-size: 7vw;
    gap: 10vh;
    padding-bottom: 10vh;
}
.cartoes{
    max-width: 50vw;
    max-height: 50vw;
}
.endereço{
    border-radius: 1vw rgb(255, 0, 0);
    color: inherit;
    font-size: 5vw;
}


.marcas{
    display: flex;
    flex-direction: column;
    gap: 0vh;
}
.foto_de_marca{
    max-width: 50vw;
    max-height: 50vw;
    padding: 0vh;
}
.remendo{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 50vw;
    height: 50vw;
}
.foto_de_marca:hover{
    max-width: 5vw;
    max-height: 5vw;
    padding: 0vh;
}   
.rodapé{
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content:space-around;
}
.cabeçalho-m1{
    display: flex;
    gap: 10px;
    font-size: 8vw;
}

.logos-img{
    position: static;
    height: 8vw;
    transition: all 2s;
    border-radius: 10px;
    
}
.credito{
    color: inherit;
    font-size: 3.5vw;
}
    
}