
::-webkit-scrollbar {
  width: 0px;
}

:root{
  --header-height : 55px;
}

header{
  height: var(--header-height);
  border-radius: 0px 0px 5px 5px;

}

body{

  background-size: 5000% 500%;
  background-repeat: no-repeat;
  animation: gradient 15s ease infinite;
}


@keyframes gradient {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#bannierer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

#bannier {
  width: 80vw;
}

#bannier p{
  max-width: 100%;
}

#citacao{
  font-size: 25px;
}

.aviso{
  max-width: 80%;
  border-radius: 10px;
  padding: 10px;
 }

.main-top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 1vh;
}

.main-top .total-price ,.main-top .carrinho-container{
  display: flex;
}

.btn-group button,.total-price{
  height: 45px;
}

.total-price{
  font-size: 15px;
}



main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
}


section{
  margin: 1.5vh 1vw 2vh 1vw;
  width: 95%;
  height:fit-content; /*future fit content*/
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: var(--fivth-color) solid ;
  border-bottom: none;
}

.cima img{
  margin:10px;
  max-width: 35vw;
  max-height: 38vh;
}

.nameOfProd{
  margin: 10px 20px;
}

footer,#estoque-ancors-container, #footer-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin-bottom: 10px;
}

footer hr{
  width: 33vw;
}

footer h5{
  font-size: 15px;
  text-align:center ;
  max-width: 80vw;
}


.estoque-ancor,.estoque-ancor:hover{
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  border-radius: 5px;
  padding: 10px;
  font-style: none;
  width: 80vw;
  box-sizing:border-box;
  text-align: center;
  font-weight: 900;
  color: rgb(255, 255, 255);
  border: 1px solid black;
}

.boticario-btn, .boticario-btn:hover{
  background-color: rgba(64, 199, 109, 0.8);
}

.eudora-btn, .eudora-btn:hover{
  background-color: rgba(170, 95, 240, 0.85);
}

.OUI-btn, .OUI-btn:hover{
  background-color: rgba(196, 23, 23, 0.85);
}




@media (min-width:700px){

  header{
    height: 10vh;
  }

  .baixo > div > *{
    font-size: 15px;
  }
}




